.tabs-block {

	&__nav {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.3125rem;
		width: auto;
		overflow: auto;
		margin: 0 -0.625rem;
    padding: 0 0.625rem;
		@media (max-width: 1024px){
			  flex-wrap: nowrap;
		}
	}
	::-webkit-scrollbar,
	::-webkit-scrollbar-thumb {
		display: none;
	}

	&__navitem {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 auto;
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.25;
		color: #000;
		padding: 0.3125rem 1.5625rem;
		background: #fff;
		font-weight: 700;
		color: grey;
    border: 0.1rem solid #FED529;
		transition: all 0.4s ease 0s;
		@media (any-hover: hover){
			 &:hover { 
				color: #000;
			} 
		}
		&._active{
			color: #000;
			// background-color: #d7d5d5;
		}
		@media (max-width: 768px){
			  font-size: 0.875rem;
				padding: 0.1875rem 0.9375rem;
		}
	}

	&__items {
	}

	&__item {
		padding: 1.5625rem 0;
		@media (max-width: 768px){
			padding: 0.9375rem 0; 
		}
	}

	&_tabs {
	}

	&_tabs-item {
	}

	&_active {
	}

	&_tabs-block {
		
	}
}

.tab {

	&__navitem {
	}

	&__item {
	}
}
